### Java ###
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*


### Gradle ###
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache



### Intellij ###
*.iml
*.ipr
*.iws
.idea/
out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


### Travis ###
*travis.log

