### Java ###
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*


### Gradle ###
.gradle
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache


### Intellij ###
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/shelf
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
*.ipr
*.iws
/out/


### Travis ###
*travis.log

