---
name: Publish

on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - "*.*.*"

jobs:
  publish:
    name: Publish
    permissions:
      contents: write
      packages: write
    strategy:
      matrix:
        os: [ubuntu-latest]   # Just one
        java: [11]            # Just one
        gradle: [wrapper]     # Just one
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v3
      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'
      - name: Setup Gradle ${{ matrix.gradle }}
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: ${{ matrix.gradle }}
          build-scan-publish: false   # Might contain private keys or sensitive information
      - name: Publish to Maven Central
        run: |
          gradle assemble publish closeAndReleaseSonatypeStagingRepository
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
          SIGNING_KEY_PASSWORD: ${{ secrets.SIGNING_KEY_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      - name: Release on GitHub
        uses: softprops/action-gh-release@v2
        with:
          name: "Release ${{ github.ref_name }}"
          files: "**/build/libs/commons-configuration2-jackson-${{ github.ref_name }}*"
          fail_on_unmatched_files: true
